<section class="signup-confirmation">
  <div class="container">
    <div class="row align-items-center align-content-center">
      <div class="card text-center">
        <img class="card-img-top" id="thanks-img" src="./assets/images/logo-done.png">
        <div class="card-body">
          <h3 class="card-title">Gracias por Registrarte!</h3>
          <p class="card-text">En breve seras contactad@ por uno de nuestros asesores. Bienvenid@</p>
        </div>
      </div>
    </div>
  </div>
</section>
