<section class="single-store">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ store.category.name }}</li>
      <li class="breadcrumb-item">{{ store.subcategory.name }}</li>
    </ol>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <img class="img-fluid" [src]="'./assets/images/test-store/portada.jpeg'">
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
      </div>
      <div class="col-6 col-md-4">

      </div>
      <div class="row">

      </div>
    </div>
  </div>
</section>
