<section class="password-recover">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form #passwordRecover="ngForm" (ngSubmit)="sendRecoverMail()">
          <div class="form-group">
            <label for="email">Ingrese el correo ligado a su cuenta: </label>
            <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="user_email" required>
          </div>
          <button type="submit" class="btn btn-primary">Recuperar Contraseña</button>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</section>
