<section class="home-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <app-categories-menu></app-categories-menu>
      </div>
      <div class="col-8">
        <section class="home-banner">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of images">
              <img [src]="image" class="home-banner-img" alt="Slide">
            </ng-template>
          </ngb-carousel>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="featured-products">
  <div class="container-fluid">
    <div class="row featured-products-heading">
      <div class="col">
        <h3>Productos Destacados</h3>
      </div>
    </div>
    <section class="product-thumbs">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of featuredProducts">
          <app-mini-product [product]="product" ></app-mini-product>
        </div>
      </div>
    </section>
  </div>
</section>
