<section class="categories-menu">
  <div class="list-group" *ngFor="let category of categories; let i= index" ngbDropdown>
    <div *ngIf="i == 0" class="list-group-item" id="categories-header">CATEGORÍAS</div>
    <button type="button" class="list-group-item list-group-item-action category-item" id="{{ category.name }}" ngbDropdownToggle
            placement="right">
      {{ category.name }}
    </button>
    <div class="dropdown-menu" *ngIf="category.subcategories" ngbDropdownMenu
         attr.aria-labelledby="{{category.name}}">
      <button type="button" *ngFor="let subcategory of category.subcategories"
              class="dropdown-item">{{ subcategory.name }}
      </button>

    </div>
  </div>
</section>
